<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.all @ categories=['article.card.tile']}" /><div class="high">
<style>
.high{margin-top:175px;}
</style>
<div class="high">
<h1 style="margin-right:10px;">${properties.articletilemainTitle @ context='html'}</h1>
<section class="container-fluid"> 

	<sly data-sly-use.artcard="com.adobe.articlescard.controller.ArticalesCardController">


	<section class="body-content" style="margin-top: 50px; margin-bottom: 50px;" data-sly-test="${artcard.articalesComponent}" data-sly-list.artlist="${artcard.articalesComponent}">
    
		<div class="container">
			<div class="article-section">

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="article-img">
							<p><img src="${artlist.image @ context='html'}" class="img-responsive" /></p>
							<p class="article-text">
								<span class="hdr">${artlist.title @ context='html'}</span>
								<span class="desc">${artlist.desc @ context='html'}</span>
							</p>
						</div>
					</div>
					
				</div>
				
			</div>

		</div>
	

	</section>
	
	
</section> 
</div>